.box{
    background-color: coral;
    display: table-cell;
}
.mainText{
    color:white;
    font-size: 1em;
    font-weight:bold;
    text-align:center;
}

.bracket{
    color:white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.wrapper {
    display: table;
    width: 400px;
}

.middle {
    display: table-cell;
    width: 10%;
}
