body {
    background-color: #003A3A;
}

ul
{
    list-style-type: none;
    display: inline;
    text-align: left;
    font-size: 1em;
    padding-left: 15px;
    
}

.box{
    background-color: #003A3A;
    display: table-cell;
}
.mainText{
    color:white;
    font-size: 2em;
    font-weight:bold;
    text-align:left;
}

.bracket{
    color:white;
    font-size: 15em;
    font-weight:bold;
    text-align:center;
}

.wrapper {
    display: table;
    width: 33%;
    float: left;
    padding-left: 15px;
}
