body {
    background-color: #003A3A;
}

footer {
    position:absolute;
    bottom:0px;
    font-size: 0.7em;
    color: White;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: right;
    padding-right: 50px;
    padding-top: 30px;
}

li {
    display: inline;
    text-align: right;
    font-size: 1.5em;
    padding-left: 15px;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

.box {
    background-color: #003A3A;
    display: table-cell;
}

.mainText {
    color:white;
    font-size: 2em;
    font-weight:bold;
    text-align:left;
}

.bracket {
    color:white;
    font-size: 15em;
    font-weight:bold;
    text-align:center;
}

.wrapper {
    display: table;
    width: 33%;
    float: left;
    padding-left: 15px;
    padding-top: 10%
}
